body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header {
    background-color: #222244;
}

/* Genera un arco en el límite superior del 'header' */
.header {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0% 100%);
}

nav {
    background-color: #FDFD96;
    font-weight: 500;
}

.boton-sesion {
    background-color: #222244;
    border-color: #222244;
    color: #FFFFD0;
}

.boton-sesion:hover {
    background-color: #212155;
    border-color: #212155;
    color: #FFFFFF;
}

.informacion {
    background-color: #222244;
    border-color: #222244;
    color: #FFFFD0;
}

.cont-text {
    font-weight: 500;
}

.card-img {
    height: 12rem;
}

.success {
    color: #311818;
    font-weight: 500;
}

.mensaje {
    height: 100px;
    width: 60vw;
    vertical-align: top;
}

#lorem {
    text-align: justify;
}

#error-form {
    color: #FF0000;
    font-weight: 500;
}

.logout {
    text-decoration: none;
    color: #000068;
    font-weight: 500;
}

.sin-borde {
    border: none;
}

footer {
    background-color: #BB9966;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-ico {
    text-decoration: none;
    color: #FFFFFF;
}
