body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #222244;
}

nav {
    background-color: #FDFD96;
    font-weight: 500;
}

.cont-text {
    font-weight: 500;
}

.card-img {
    height: 12rem;
}

footer {
    background-color: #BB9966;
    color: #FFFFFF;
}
