{% extends 'web/base.html' %}

{% block 'contenido' %}
<div class="container p-5">
    <p class="my-4 fs-3">Acerca de OnlyFlans...</p>
    <p class="my-4 text-justify fs-5" id="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis impedit ad distinctio culpa sequi nihil est aut esse. Obcaecati saepe, pariatur iusto eligendi maxime accusamus facilis soluta doloribus quia quo, corporis, quod architecto sint earum quidem accusantium quam rerum minima dicta maiores adipisci dolorum consequuntur sit? Eos, deleniti debitis. Qui.</p>
    <p class="my-4 text-justify fs-5" id="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eum reprehenderit, nisi et saepe at aliquid maxime earum accusantium nihil nostrum explicabo optio vero ab expedita unde a dolores culpa aliquam, fugit quod omnis! Iure corrupti exercitationem maxime, ex eligendi fuga iusto. Molestiae laborum iure dolore provident, architecto consequuntur incidunt voluptatum eius cumque consectetur porro. Quas nam, dicta officia magnam totam non!</p>
    <br>
    <p class="my-4 text-justify fs-5" id="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat sapiente odio placeat facere rem aut dicta voluptate tempore, harum fugit. Voluptatem perspiciatis sed perferendis architecto.</p>
</div>
{% endblock 'contenido' %}
