<footer class="container py-2">
    <div class="text-center py-2">
        <p class="fs-4 my-auto">Co-Creado por Néstor Patricio & Miki - 2022</p>
    </div>
    <div class="row mx-2 mx-md-4 mx-xl-5 pb-2">
        <div class="d-inline-block col-6 mx-auto text-center display-6">
            <a href="https://www.linkedin.com/in/nestor-patricio-rojas-rios/"
                target="_blank" class="footer-ico mx-2" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Néstor Patricio's LinkedIn">
                <i class="fa-brands fa-linkedin footer-ico"></i>
            </a>
            <a href="https://github.com/NestorPatricio"
                target="_blank" class="footer-ico mx-2" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Néstor Patricio's GitHub">
                <i class="fa-brands fa-github-square footer-ico"></i>
            </a>
        </div>
        <div class="col-6 mx-auto text-center display-6">
            <a href="https://www.linkedin.com/in/nicole-elizabeth-manzo-salas-1b3233158/"
                target="_blank" class="footer-ico mx-2" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Miki's LinkedIn">
                <i class="fa-brands fa-linkedin footer-ico"></i>
            </a>
            <a href="https://github.com/AoiMiki"
                target="_blank" class="footer-ico mx-2" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Miki's GitHub">
                <i class="fa-brands fa-github-square footer-ico"></i>
            </a>
        </div>
    </div> 
</footer>