{% extends 'web/base.html' %}

{% block 'contenido' %}
<div class="container">
    <p>Bienvenido cliente.</p>
    <div class="row">
        {% for flan in private_flans %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ flan.image_url }}" class="d-block img-fluid w-100"
                    alt="Al rico flan">
                <div class="card-body">
                  <h5 class="card-title" id="hola">{{ flan.name }}</h5>
                  <p class="card-text">{{ flan.description }}</p>
                </div>
              </div>
        </div> 
        {% endfor %}
    </div>
</div>
{% endblock 'contenido' %}
